# List files that should not be committed
.*swp
.*swo
.*swn
*~

# Configure time
aclocal.m4
autom4te.cache
config.log
config.status
# local archives
arc/

# Build time
bin/
obj/
OUTPUT_FILES/*

# Documentation
doc/USER_MANUAL/figures/*-eps-converted-to.pdf

#
slurm*
submit*
